<h1 class="page-header">Id: # <%= @article.id -%></h1>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Informações</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-8">

                                <div class="form-group">
                                    <label>Categoria</label>
                                    <p class="form-control-static"><%= @article.category.name %></p>
                                  </div>
                                  
                                  <div class="form-group">
                                    <label>Título</label>
                                    <p class="form-control-static"><%= @article.title %></p>
                                  </div>

                                  <div class="form-group">
                                    <label>Texto</label>
                                    <p class="form-control-static"><%= @article.description.html_safe %></p>
                                  </div>

                                  <div class="form-group">
                                    <label>Usuário</label>
                                    <p class="form-control-static"><%= @article.user.name %></p>
                                  </div>

                                  <div class="form-group">
                                    <label>Status</label>
                                    <p class="form-control-static"><%= @article.statuses %></p>
                                  </div>
                                
                                </div>

                                <div class="col-lg-4">
                                   <div class="form-group">
                                    <label>Imagem</label>

                                    <p class="form-control-static"><%= image_tag @article.picture, width: "150px" -%></p>
                                  </div>
                                </div>
                             
                            </div>
                            
                        </div>
                        <div class="panel-footer">
            <%= link_to '<i class="fa fa-chevron-left"></i> Voltar'.html_safe, admin_articles_path, class: "btn btn-default" %>
            <%= link_to '<i class="fa fa-pencil"></i> Editar'.html_safe, edit_admin_article_path(@article), class: "btn btn-default" %>
                          
                        </div>
                        
                    </div>
                    
                </div>
                
            </div>
  