<section class="inner-banner">
	<div class="thm-container clearfix">
		<h2 class="pull-left">Sobre a DigitalRad</h2>
		<ul class="breadcumb pull-right">
			<li><%= link_to "<i class=\"fa fa-home\"></i> Início".html_safe, root_path %></li>
			<li><span>Sobre</span></li>
		</ul>
	</div>
</section>


<section class="about-tab-box sec-padding">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="tab-title-box">
					<ul class="clearfix" role="tablist">
						<li class="active" data-tab-name="history">
							<a href="#history" aria-controls="history" role="tab" data-toggle="tab">Telerradiologia</a>
						</li>
						<li data-tab-name="mission">
							<a href="#mission" aria-controls="mission" role="tab" data-toggle="tab">Missão</a>
						</li>
						<li data-tab-name="vision">
							<a href="#vision" aria-controls="vision" role="tab" data-toggle="tab">Valores</a>
						</li>
					</ul>
				</div>
				<div class="tab-content-box tab-content">
					<div class="single-tab-content tab-pane fade in active row" id="history">
						<div class="col-md-3 hidden-sm">
							<%= image_tag 'teleradiologia1.png'-%>
						</div>
						<div class="col-md-9">
							<div class="content-box">
								<p>Telerradiologia é a transmissão eletrônica de imagens radiográficas de um ponto a outro, visando à interpretação diagnóstica para tornar a saúde mais acessível à população. A nova tecnologia possibilita aos médicos radiologistas, que desejam ampliar sua atuação, uma grande oportunidade de oferecer o serviço de laudo à distância a Centros de Diagnóstico por Imagens, que muitas vezes têm demanda excedente ou estão em localidades distantes.</p><br>
								<p>Atualmente, a prestação deste serviço está em constante disseminação nas unidades de saúde e tem otimizado a produtividade e aumentado o acesso a cuidados da saúde, se destacando como uma das especialidades da Telemedicina que mais avançou nos últimos tempos.</p><br>
								<p>Diante deste cenário surge a DIGITALRAD visando oferecer a mais completa solução do mercado brasileiro em Telerradiologia, isto é, oferecer uma solução profissional que possibilite a realização de laudos à distância, permitindo a Clínicas e hospitais ampliarem seus leques de serviços, agilizando processos, melhorando a qualidade e rapidez de seus laudos e, consequentemente, a satisfação de seus clientes.</p>
						
							</div>
						</div>
					</div>
					<div class="single-tab-content tab-pane fade row" id="mission">
						<div class="col-md-3 hidden-sm">
							<%= image_tag 'about-tab-1.jpg'-%>
						</div>
						<div class="col-md-9">
							<div class="content-box">
								<p>Uma empresa com o propósito de integrar os diversos recursos disponíveis, através do intercâmbio de informações, de forma a oferecer serviços de diagnóstico por imagem à distância de maneira rápida, eficiente e segura.</p>
								<br>
								<div class="row">
									<div class="col-md-12">
										<ul>
											<li><i class="fa fa-hand-o-right"></i> Rapidez na emissão de laudos ;</li>
											<li><i class="fa fa-hand-o-right"></i> Auxílio diagnóstico a comunidades distantes geograficamente dos grandes centros urbanos, além de clínicas/ hospitais carentes de mão-de- obra;</li>
											<p></p>
											<li><i class="fa fa-hand-o-right"></i> Maior rapidez de atendimento e diagnóstico, reduzindo o período de internamento hospitalar e evitando custo com deslocamentos;</li>
											<p></p>
											<li><i class="fa fa-hand-o-right"></i> Baixo investimento;</li>
											<p></p>
											<li><i class="fa fa-hand-o-right"></i> Redução de custos fixos, por não precisar contratar radiologistas presenciais, pagando apenas por exames laudados;</li>
										</ul>
									</div>
									
									
								</div>
							</div>
						</div>
					</div>
					<div class="single-tab-content tab-pane fade row" id="vision">
						<div class="col-md-3 hidden-sm">
							<%= image_tag 'about-tab-1.jpg'-%>
						</div>
						<div class="col-md-9">
							<div class="content-box">
								<p>Nossa expectativa é ampliar a oferta de diagnóstico médico por imagem digital ou convencional para regiões pouco assistidas, além de facilitar a atuação do radiologista e o intercâmbio entre especialistas para obter uma segunda opinião. Procurando o equilíbrio entre Excelência em Imagens Radiológicas, Ética e Humanização, a DIGITALRAD oferece os Serviços de Laudos por Imagens a Distância contemplando as modalidades de Radiologia Digital e Convencional, Mamografias, Tomografias Computadorizadas, Densitometria Óssea e Eletrocardiografia.</p>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="testimonials-carousel">
	<div class="container">
		<div class="owl-carousel owl-theme">
			<div class="item">
				<div class="single-testimonial-carousel">
					<div class="img-box">
						<div class="inner">
							<%= image_tag 'testimonials/1.png'-%>
						</div>
					</div>
					<div class="content-box">
						<p><span class="quote">“</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nstrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat</p>
						<p class="name text-right">
							<span>- Michale John</span> <br> Spsum is simply dummy
						</p>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="single-testimonial-carousel">
					<div class="img-box">
						<div class="inner">
							<%= image_tag 'testimonials/2.png'-%>
						</div>
					</div>
					<div class="content-box">
						<p><span class="quote">“</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nstrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat</p>
						<p class="name text-right">
							<span>- Michale John</span> <br> Spsum is simply dummy
						</p>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="single-testimonial-carousel">
					<div class="img-box">
						<div class="inner">
							<%= image_tag 'testimonials/3.png'-%>
						</div>
					</div>
					<div class="content-box">
						<p><span class="quote">“</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nstrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat</p>
						<p class="name text-right">
							<span>- Michale John</span> <br> Spsum is simply dummy
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="fact-wrapper no-parallax sec-padding bottom-has-footer-top">
	<div class="thm-container">
		<div class="sec-title">
			<h2><span>Como Funciona</span></h2>
		</div>
		<div class="row">
			<div class="col-md-3 col-sm-6">
				<div class="single-fact">
					<div class="icon-box-alt">
						<%= image_tag "about-info-box/como-1.svg",  width: "150px" -%>
					</div>
				
					<h3>REALIZAÇÃO DE EXAME NA SEDE DO CLIENTE</h3>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="single-fact">
					<div class="icon-box-alt">
						<%= image_tag "about-info-box/como-2.svg", width: "150px" -%>
					</div>
					
					<h3>ENVIO DIGITAL À CENTRAL DE LAUDOS DIGITALRAD</h3>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="single-fact">
					<div class="icon-box-alt">
						<%= image_tag "about-info-box/como-3.svg", width: "150px" -%>
					</div>
					
					<h3>REALIZAÇÃO DO LAUDO NA SEDE DA DIGITALRAD</h3>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="single-fact">
					<div class="icon-box-alt">
						<%= image_tag "about-info-box/como-4.svg",  width: "150px" -%>
					</div>
					<h3>ENVIO DIGITAL DO LAUDO AO CLIENTE</h3>
				</div>
			</div>
		</div>
	</div>
</section>