<section class="inner-banner">
	<div class="thm-container clearfix">
		<h2 class="pull-left">Casos Clínicos</h2>
		<ul class="breadcumb pull-right">
			<li><%= link_to "<i class=\"fa fa-home\"></i> Início".html_safe, root_path %></li>
			<li><span>Casos Clínicos</span></li>
		</ul>
	</div>
</section>

<section class="sec-padding faq-page career-page bottom-has-footer-top">
	<div class="thm-container">
		<div class="row">
			<div class="col-md-12 ">
				<div class="accrodion-grp" data-grp-name="faq-accrodion">
					<div class="accrodion">
						<div class="accrodion-title">
							<h4><span>Caso 001</span> <span>RESSONÂNCIA MAGNÉTICA CARDÍACA</span> <span>Data: 10 de Janeiro de 2016</span></h4>
						</div>
						<div class="accrodion-content">
							<div class="single-job-details">
								<h2>ANAMNESE</h2>
								<ul class="list-item">
									<li>Paciente masculino, 63 anos;</li>
									<li>Paciente em investigação de quadro de dispnéia. Realizou ecocardiograma transtorácico, que evidenciou hipertrofia ventricular esquerda;</li>
									<li>Sem outros dados relevantes de história pregressa;</li>
									<li>Encaminhado à Ressonância Magnética cardíaca para elucidação diagnóstica.</li>
								</ul>
							</div>

							<div class="single-job-details">
								<h2>LAUDO</h2>
								<p>Imagens de cineressonância (vídeos 1 e 2) demonstrando disfunção sistólica moderada do ventrículo esquerdo (FEVE = 40%). Adicionalmente, observa-se importante hipertrofia concêntrica do ventrículo esquerdo (espessura máxima de 18mm) e derrame pericárdico discreto.</p>
							</div>

							<div class="row">
								<div class="col-lg-3 col-md-6">
									<%= image_tag 'cases/foto1.jpg' -%>
								</div>

								<div class="col-lg-3 col-md-6">
									<%= image_tag 'cases/foto2.png' -%>
								</div>

								<div class="col-lg-3 col-md-6">
									<video class="wp-video-shortcode" id="video-1800-1" width="848" height="507" loop="1" autoplay="1" preload="metadata" src="<%= image_url 'cases/video1.mp4' -%>" style="width: 100%; height: 100%;"><source type="video/mp4" src="<%= image_url 'cases/video1.mp4' -%>?_=1"><a href="<%= image_url 'cases/video1.mp4' -%>"><%= image_url 'cases/video1.mp4' -%></a></video>
								</div>

								<div class="col-lg-3 col-md-6">
									<video class="wp-video-shortcode" id="video-1800-1" width="848" height="507" loop="1" autoplay="1" preload="metadata" src="<%= image_url 'cases/video2.mp4' -%>" style="width: 100%; height: 100%;"><source type="video/mp4" src="<%= image_url 'cases/video2.mp4' -%>?_=1"><a href="<%= image_url 'cases/video2.mp4' -%>"><%= image_url 'cases/video2.mp4' -%></a></video>
								</div>
							</div>

							<br>

							<div class="single-job-details">
								<h2>DISCUSSÃO</h2>
								<ul class="list-item">
									<li>A amiloidose cardíaca é uma entidade heterogênea, que consiste do depósito de estruturas protéicas de baixo peso molecular no miocárdio. Conforme a origem proteína depositada, podem ser divididas em amiloidose primária (AL) ou secundária (AA).</li>
									<li>Um subtipo genético de amiloidose ligado a alteração no gene da transtiretina (TTR), localizado no cromossomo 18, pode causar um espectro de depósito amilóide cardíaco. Embora o tipo de realce tardio habitualmente descrito na amiloidose seja o acometimento difuso do subendocárdio, na variedade TTR é descrito um “gradiente base-ápex” de impregnação do gadolíneo1, como no presente caso clínico.</li>
									<li>A Ressonância Magnética Cardíaca é ferramenta importante na investigação não invasiva das miocardiopatias infiltrativas como a amiloidose, tendo indicação de realização conforme as atuais diretrizes (classe de recomendação IIa, nível de evidência B)2.</li>
								</ul>
							</div>

						</div>
					</div>

					<div class="accrodion">
						<div class="accrodion-title">
							<h4><span>Caso 002</span> <span>RESSONÂNCIA MAGNÉTICA CARDÍACA</span> <span>Data: 10 de Janeiro de 2016</span></h4>
						</div>
						<div class="accrodion-content">
							<div class="single-job-details">
								<h2>ANAMNESE</h2>
								<ul class="list-item">
									<li>Paciente masculino, 63 anos;</li>
									<li>Paciente em investigação de quadro de dispnéia. Realizou ecocardiograma transtorácico, que evidenciou hipertrofia ventricular esquerda;</li>
									<li>Sem outros dados relevantes de história pregressa;</li>
									<li>Encaminhado à Ressonância Magnética cardíaca para elucidação diagnóstica.</li>
								</ul>
							</div>

							<div class="single-job-details">
								<h2>LAUDO</h2>
								<p>Imagens de cineressonância (vídeos 1 e 2) demonstrando disfunção sistólica moderada do ventrículo esquerdo (FEVE = 40%). Adicionalmente, observa-se importante hipertrofia concêntrica do ventrículo esquerdo (espessura máxima de 18mm) e derrame pericárdico discreto.</p>
							</div>

							<div class="row">
								<div class="col-lg-3 col-md-6">
									<%= image_tag 'cases/foto1.jpg' -%>
								</div>

								<div class="col-lg-3 col-md-6">
									<%= image_tag 'cases/foto2.png' -%>
								</div>
							</div>

							<br>

							<div class="single-job-details">
								<h2>DISCUSSÃO</h2>
								<ul class="list-item">
									<li>A amiloidose cardíaca é uma entidade heterogênea, que consiste do depósito de estruturas protéicas de baixo peso molecular no miocárdio. Conforme a origem proteína depositada, podem ser divididas em amiloidose primária (AL) ou secundária (AA).</li>
									<li>Um subtipo genético de amiloidose ligado a alteração no gene da transtiretina (TTR), localizado no cromossomo 18, pode causar um espectro de depósito amilóide cardíaco. Embora o tipo de realce tardio habitualmente descrito na amiloidose seja o acometimento difuso do subendocárdio, na variedade TTR é descrito um “gradiente base-ápex” de impregnação do gadolíneo1, como no presente caso clínico.</li>
									<li>A Ressonância Magnética Cardíaca é ferramenta importante na investigação não invasiva das miocardiopatias infiltrativas como a amiloidose, tendo indicação de realização conforme as atuais diretrizes (classe de recomendação IIa, nível de evidência B)2.</li>
								</ul>
							</div>

						</div>
					</div>

		
				</div>

			</div>
		</div>
	</div>
</section>