<section class="inner-banner">
	<div class="thm-container clearfix">
		<h2 class="pull-left">Casos Clínicos</h2>
		<ul class="breadcumb pull-right">
			<li><%= link_to "<i class=\"fa fa-home\"></i> Início".html_safe, root_path %></li>
			<li><span>Casos Clínicos</span></li>
		</ul>
	</div>
</section>


<section class="sec-padding faq-page career-page bottom-has-footer-top">
	<div class="thm-container">
		<div class="row">
			<div class="col-md-12 ">
				<div class="accrodion-grp" data-grp-name="faq-accrodion">
				<% @clinics.each do |clinic| -%>
					<div class="accrodion">
						<div class="accrodion-title">
							<h4><span><%= clinic.name -%></span> <span><%= clinic.title -%></span> <span>Data: <%= I18n.l(clinic.created_at, format: :long)-%></span></h4>
						</div>
						<div class="accrodion-content">

							<%= clinic.description.html_safe -%>

							<div class="row">
								<% clinic.photos.each do |photo| -%>
									<div class="col-lg-3 col-md-6">
										<%= image_tag photo.cases -%>
									</div>
								<% end -%>
							</div>

						</div>
					</div>
				<% end -%>
	
				</div>

			</div>
		</div>
	</div>
</section>