<section class="inner-banner">
	<div class="thm-container clearfix">
		<h2 class="pull-left">Fale Conosco</h2>
		<ul class="breadcumb pull-right">
			<li><%= link_to "<i class=\"fa fa-home\"></i> Início".html_safe, root_path %></li>
			<li><span>Fale Conosco</span></li>
		</ul>
	</div>
</section>

<section class="sec-padding contact-page-content bottom-has-footer-top">
	<div class="thm-container">
		<div class="sec-title">
			<p>A Digital Rad gosta de conversar com o mercado de radiologia e de saúde. Temos prazer em ouvi-lo. Por favor, use este espaço para entrar em contato conosco.</p>
		</div>
		<div class="row">
			
			<div class="col-md-4">
				<div class="contact-info">
					<ul>
						<li>
							<div class="icon-box">
								<i class="fa fa-envelope-o"></i>
							</div>
							<div class="content">
								<p>Email: <br>atendimento@digitalrad.com.br</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-4">
				<div class="contact-info">
					<ul>
						<li>
							<div class="icon-box">
								<i class="fa fa-phone"></i>
							</div>
							<div class="content">
								<p>Telefone:<br>(86) 98154-5023</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-4">
				<div class="contact-info">
					<ul>
						<li>
							<div class="icon-box">
								<i class="fa fa-whatsapp"></i>
							</div>
							<div class="content">
								<p>Whatsapp:<br>(86) 98182-3366</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-7 col-sm-6 col-xs-12 pull-left">
			<%= form_for @message, url: enviamail_path, :html => { :class => "contact-form contact-page"} do |f| %> 

		                                      
				<p><%= f.text_field :name, placeholder: "Nome Completo", required: true %></p>
				<p><%= f.text_field :email, placeholder: "E-mail", required: true %></p>
				<p><%= f.text_field :subject, placeholder: "Assunto", required: true %></p>
				<p><%= f.text_area :message, placeholder: "Mensagem", required: true %></p>

				<%= button_tag(type: 'submit', class: "thm-btn") do %>
				 	Enviar <i class="fa fa-arrow-right"></i>
				<% end %>
			<% end %>
			</div>
			<div class="col-md-4 hidden-sm text-center pull-right">
				<%= image_tag 'request-qoute-man.png' -%>
			</div>
		</div>
	</div>
</section>