<section class="inner-banner">
	<div class="thm-container clearfix">
		<h2 class="pull-left">Como Funciona</h2>
		<ul class="breadcumb pull-right">
			<li><%= link_to "<i class=\"fa fa-home\"></i> Início".html_safe, root_path %></li>
			<li><span>Como Funciona</span></li>
		</ul>
	</div>
</section>

<section class=" service-page sec-padding">
	<div class="thm-container">
	

		<div class="row">
			<div class="col-md-4 col-sm-6">
				<div class="single-services">
					<div class="img-box">
						<%= image_tag 'services-page/1.png' -%>
					</div>
					<h3><span>Instalação</span></h3>
					<p>Contato do setor de TI para preparação do sistema de telerradiologia.</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="single-services">
					<div class="img-box">
						<%= image_tag 'services-page/02.png' -%>
					</div>
					<h3><span>Instruções</span></h3>
					<p>Treinamento da equipe da clínica e orientação de protocolos (parte técnica e fluxo do serviço).</p>
				
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="single-services">
					<div class="img-box">
						<%= image_tag 'services-page/03.png' -%>
					</div>
					<h3><span>Exames</span></h3>
					<p>Realização do exame na sede da Clínica.</p>
					
				</div>
			</div>
		</div>
		<div class="row">	
			<div class="col-md-4 col-sm-6">
				<div class="single-services">
					<div class="img-box">
						<%= image_tag 'services-page/04.png' -%>
					</div>
					<h3><span>Envio Seguro</span></h3>
					<p>Envio dos exames a DigitalRad através de nossos servidores.</p>
					
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="single-services">
					<div class="img-box">
						<%= image_tag 'services-page/05.png' -%>
					</div>
					<h3><span>Elaboração</span></h3>
					<p>Análise por um médico radiologista especialista na área.</p>
					
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="single-services">
					<div class="img-box">
						<%= image_tag 'services-page/06.png' -%>
					</div>
					<h3><span>Revisão</span></h3>
					<p>Dupla leitura e revisão dos laudos.</p>
					
				</div>
			</div>
		</div>

		<div class="row">	
			<div class="col-md-4 col-sm-6">
				<div class="single-services">
					<div class="img-box">
						<%= image_tag 'services-page/07.png' -%>
					</div>
					<h3><span>Laudos Precisos</span></h3>
					<p>Debate de casos complexos entre as equipes especializadas.</p>
					
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="single-services">
					<div class="img-box">
						<%= image_tag 'services-page/08.png' -%>
					</div>
					<h3><span>Processo Rapido</span></h3>
					<p>Liberação do laudo ao cliente.</p>
					
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="single-services">
					<div class="img-box">
						<%= image_tag 'services-page/09.png' -%>
					</div>
					<h3><span>Completo</span></h3>
					<p>Entrega do laudo ao paciente.</p>
					
				</div>
			</div>
		</div>
	</div>
</section>