<section class="rev_slider_wrapper thm-banner-wrapper">
	<div id="slider1" class="rev_slider"  data-version="5.0">
		<ul>
		<% @features.each do |slide| -%>
			<li data-transition="fade" data-ease="SlowMo.ease">
				<%= image_tag 'slider/1.jpg' -%>
				<div class="tp-caption sfb tp-resizeme"
							data-x="left" data-hoffset="10"
							data-y="top" data-voffset="100"
							data-whitespace="nowrap"
							data-transform_idle="o:1;"
							data-transform_in="o:0"
							data-transform_out="o:0"
							data-start="500">
					<%= image_tag slide.photo.slide -%>
					</div>


					<div class="tp-caption sfb tp-resizeme caption-h1 corgange"
				        data-x="left" data-hoffset="618"
				        data-y="top" data-voffset="90"
				        data-whitespace="normal"
				        data-transform_idle="o:1;"
				        data-transform_in="o:0"
				        data-transform_out="o:0"
				        data-start="500">
						<%= slide.title -%>
				    </div>

					<div class="tp-caption sfb tp-resizeme caption-divider"
				        data-x="left" data-hoffset="618"
				        data-y="top" data-voffset="170"
				        data-whitespace="nowrap"
				        data-transform_idle="o:1;"
				        data-transform_in="o:0"
				        data-transform_out="o:0"
				        data-start="500">
						<span class="divider"></span>
				    </div>

				<div class="tp-caption sfb tp-resizeme caption-p"
			        data-x="left" data-hoffset="618"
			        data-y="top" data-voffset="180"
			        
			        data-transform_idle="o:1;"
			        data-transform_in="o:0"
			        data-transform_out="o:0"
			        data-start="1000">
			        <%= slide.description -%>
			    </div>
				<div class="tp-caption sfl tp-resizeme"
			        data-x="right" data-hoffset="380"
			        data-y="top" data-voffset="360"
			        data-whitespace="nowrap"
			        data-transform_idle="o:1;"
			        data-transform_in="o:0"
			        data-transform_out="o:0"
			        data-start="1500">
					<a href="<%= slide.link -%>" class="thm-btn">Conheça Mais <i class="fa fa-arrow-right"></i></a>
			    </div>
			</li>
			<% end -%>
		</ul>
	</div>
</section>

<section class="about-info-box sec-padding home-page">
	<div class="thm-container">
		<div class="clearfix">
			<div class="col-lg-5 hidden-md hidden-sm hidden-xs pull-left">
				<div class="left-box">
					<div class="img-box">
					<%= image_tag 'about-info-box/2.jpg' -%>
					</div>
				</div>
			</div>
			<div class="col-lg-7 col-md-12 pull-right">
				<div class="right-box">
					<div class="sec-title">
						<h2><span>SEUS DESAFIOS, NOSSAS SOLUÇÕES</span></h2>
						<p>A DigitalRad proporciona verdadeiros diferenciais aos seus resultados de Raio X, Mamografia, Densitometria Ossea, Tomografia Computadorizada e Ressonância Magnética.</p>
						<p><b>Algumas vantagens para sua empresa:</b></p>
						<ul class="bulleted-list">
								<li><i class="fa fa-arrow-circle-right"></i>Rapidez Na Emissão de Laudos;</li>
								<li><i class="fa fa-arrow-circle-right"></i>Auxílio Diagnóstico a Comunidades Distantes Geograficamente dos Grandes Centros Urbanos, Além de Clínicas/ Hospitais Carentes de Mão-de- Obra;</li>
								<li><i class="fa fa-arrow-circle-right"></i>Maior Rapidez de Atendimento e Diagnóstico, Reduzindo o Período de Internamento Hospitalar e Evitando Custo Com Deslocamentos;</li>
								<li><i class="fa fa-arrow-circle-right"></i>Baixo Investimento;</li>
								<li><i class="fa fa-arrow-circle-right"></i>Redução de Custos Fixos, Por Não Precisar Contratar Radiologistas Presenciais, Pagando Apenas Por Exames Laudados;</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="fact-wrapper sec-padding">
	<div class="thm-container">
		<div class="row">
			<div class="col-md-3 col-sm-6">
				<div class="single-fact">
					<%= image_tag "about-info-box/como-1.svg" -%>
					<p style="margin-top:10px;">REALIZAÇÃO DE EXAME NA SEDE DO CLIENTE</p>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="single-fact">
					<%= image_tag "about-info-box/como-2.svg" -%>
					<p style="margin-top:10px;">ENVIO DIGITAL À CENTRAL DE LAUDOS DIGITALRAD</p>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="single-fact">
					<%= image_tag "about-info-box/como-3.svg" -%>
					<p style="margin-top:10px;">REALIZAÇÃO DO LAUDO NA SEDE DA DIGITALRAD</p>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="single-fact">
					<%= image_tag "about-info-box/como-4.svg" -%>
					<p style="margin-top:10px;">ENVIO DIGITAL DO LAUDO AO CLIENTE</p>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="faq-section sec-padding">
	<div class="thm-container">
		<div class="row">
			<div class="col-md-8">
				<div class="sec-title">
					<h2><span>Alguns de Nossos Serviços</span></h2>
				</div>
				<div class="accrodion-grp" data-grp-name="faq-accrodion">

				<% @services.each do |service| -%>
					<div class="accrodion">
						<div class="accrodion-title">
							<h4><%= service.title -%></h4>
						</div>
						<div class="accrodion-content">
							<div class="img-caption">
								<div class="content-box">
									<p><%= service.description.html_safe -%></p>
								</div>
							</div>
						</div>
					</div>
				<% end -%>
				</div>
			</div>
			<div class="col-md-4">
				<div class="sec-title">
					<h2><span>Depoimentos</span></h2>
				</div>
				<div class="testimonial-content-box owl-carousel owl-theme">
				<% @testemonials.each do |testemonial| -%>
					<div class="item">
						<p><%= testemonial.description -%></p>
						<span class="name">- <%= testemonial.name -%></span>
					</div>
					<% end -%>

				</div>
				<div class="testimonail-thumbnail-box owl-carousel owl-theme">
				<% @testemonials.each do |testemonial| -%>
					<div class="item">
						<%= image_tag testemonial.avatar.testemonials -%>
					</div>
				<% end -%>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="latest-blog sec-padding pb0">
	<div class="thm-container">
		<div class="sec-title">
			<h2><span>Blog / Notícias</span></h2>
		</div>
		<div class="row">
			<div class="col-lg-4 hidden-md hidden-sm hidden-xs">
				<div class="featured-post">
					<%= image_tag "blog/featured.jpg" -%>
					<div class="box">
						<div class="box-holder">
							<h3><span><b>Nosso</b> Blog</span></h3>
							<p>Fique por dentro do que acontence na Digital Rad e no mundo!</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-8 col-md-12">
			<% @news.each do |article| -%>
				<div class="single-blog-post img-cap-effect">
					<div class="img-box">
						<%= image_tag article.picture.news -%>
						<div class="img-caption">
							<div class="box-holder">
								<ul>
									<li><%= link_to '<i class="fa fa-link"></i>'.html_safe, shownews_path(article.id) %></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="content-box">
					<%= link_to shownews_path(article.id) do %>
						<h3><%= article.title -%></h3>
					<% end -%>
						<ul class="meta">
							<li><a href="javascript:void()"><%= article.category.name -%></a></li>
							<li><a href="javascript:void()"><%= I18n.l(article.created_at, format: :long) -%></a></li>
						</ul>
						<p><%= truncate(article.description, length: 210, escape: false) -%></p>
						<%= link_to 'Leia Mais +', shownews_path(article.id) %>
					</div>
				</div>
				<% end -%>
			</div>
		</div>
	</div>
</section>


<section class="our-client sec-padding bottom-has-footer-top">
	<div class="thm-container">
		<div class="client-carousel">
			<div class="owl-carousel owl-theme">
			<% @partners.each do |partner| -%>
				<div class="item">
					<%= image_tag partner.logo.testemonials -%>
				</div>
			<% end -%>	
			</div>
		</div>
	</div>
</section>