<section class="rev_slider_wrapper thm-banner-wrapper">
	<div id="slider1" class="rev_slider"  data-version="5.0">
		<ul>

			<li data-transition="fade" data-ease="SlowMo.ease">
				<%= image_tag 'slider/1.jpg' -%>
				<div class="tp-caption sfb tp-resizeme"
							data-x="left" data-hoffset="22"
							data-y="top" data-voffset="100"
							data-whitespace="nowrap"
							data-transform_idle="o:1;"
							data-transform_in="o:0"
							data-transform_out="o:0"
							data-start="500">
				<%= image_tag 'slider/1_icon.png' -%>
					</div>


					<div class="tp-caption sfb tp-resizeme caption-h1 corgange"
				        data-x="right" data-hoffset="20"
				        data-y="top" data-voffset="90"
				        data-whitespace="nowrap"
				        data-transform_idle="o:1;"
				        data-transform_in="o:0"
				        data-transform_out="o:0"
				        data-start="500">
						laudos a distância
				    </div>

					<div class="tp-caption sfb tp-resizeme caption-divider"
				        data-x="right" data-hoffset="390"
				        data-y="top" data-voffset="160"
				        data-whitespace="nowrap"
				        data-transform_idle="o:1;"
				        data-transform_in="o:0"
				        data-transform_out="o:0"
				        data-start="500">
						<span class="divider"></span>
				    </div>

				<div class="tp-caption sfb tp-resizeme caption-p"
			        data-x="right" data-hoffset="5"
			        data-y="top" data-voffset="170"
			        data-whitespace="nowrap"
			        data-transform_idle="o:1;"
			        data-transform_in="o:0"
			        data-transform_out="o:0"
			        data-start="1000">
					Contamos com uma equipe de radiologistas formados<br> em renomadas universidades e com experiência em<br> reconhecidos centros médicos, todos sempre prontos<br> para oferecer o melhor laudo ao seu serviço de imagem.
			    </div>
				<div class="tp-caption sfl tp-resizeme"
			        data-x="right" data-hoffset="325"
			        data-y="top" data-voffset="310"
			        data-whitespace="nowrap"
			        data-transform_idle="o:1;"
			        data-transform_in="o:0"
			        data-transform_out="o:0"
			        data-start="1500">
					<a href="#" class="thm-btn">Conheça Mais <i class="fa fa-arrow-right"></i></a>
			    </div>
			</li>

			<li data-transition="fade" data-ease="SlowMo.ease">
				<%= image_tag 'slider/2.jpg' -%>
				<div class="tp-caption sfb tp-resizeme"
							data-x="left" data-hoffset="-140"
							data-y="top" data-voffset="100"
							data-whitespace="nowrap"
							data-transform_idle="o:1;"
							data-transform_in="o:0"
							data-transform_out="o:0"
							data-start="500">
					<%= image_tag 'slider/2_icon.png' -%>
					</div>


					<div class="tp-caption sfb tp-resizeme caption-h1 corgange"
				        data-x="right" data-hoffset="20"
				        data-y="top" data-voffset="90"
				        data-whitespace="nowrap"
				        data-transform_idle="o:1;"
				        data-transform_in="o:0"
				        data-transform_out="o:0"
				        data-start="500">
						laudos a distância
				    </div>

					<div class="tp-caption sfb tp-resizeme caption-divider"
				        data-x="right" data-hoffset="390"
				        data-y="top" data-voffset="160"
				        data-whitespace="nowrap"
				        data-transform_idle="o:1;"
				        data-transform_in="o:0"
				        data-transform_out="o:0"
				        data-start="500">
						<span class="divider"></span>
				    </div>

				<div class="tp-caption sfb tp-resizeme caption-p"
			        data-x="right" data-hoffset="5"
			        data-y="top" data-voffset="170"
			        data-whitespace="nowrap"
			        data-transform_idle="o:1;"
			        data-transform_in="o:0"
			        data-transform_out="o:0"
			        data-start="1000">
					Contamos com uma equipe de radiologistas formados<br> em renomadas universidades e com experiência em<br> reconhecidos centros médicos, todos sempre prontos<br> para oferecer o melhor laudo ao seu serviço de imagem.
			    </div>
				<div class="tp-caption sfl tp-resizeme"
			        data-x="right" data-hoffset="325"
			        data-y="top" data-voffset="310"
			        data-whitespace="nowrap"
			        data-transform_idle="o:1;"
			        data-transform_in="o:0"
			        data-transform_out="o:0"
			        data-start="1500">
					<a href="#" class="thm-btn">Conheça Mais <i class="fa fa-arrow-right"></i></a>
			    </div>
			</li>

		</ul>
	</div>
</section>

<section class="about-info-box sec-padding home-page">
	<div class="thm-container">
		<div class="clearfix">
			<div class="col-lg-5 hidden-md hidden-sm hidden-xs pull-left">
				<div class="left-box">
					<div class="img-box">
					<%= image_tag 'about-info-box/2.jpg' -%>
					</div>
				</div>
			</div>
			<div class="col-lg-7 col-md-12 pull-right">
				<div class="right-box">
					<div class="sec-title">
						<h2><span>SEUS DESAFIOS, NOSSAS SOLUÇÕES</span></h2>
						<p>A Digital Rad oferece os melhores e mais avançados serviços de laudos a distância, proporcionando verdadeiros diferenciais aos seus resultados de ressonância magnética e tomografia computadorizada.</p>
						<ul class="bulleted-list">
							<li><i class="fa fa-arrow-circle-right"></i> Cobertura de férias de radiologistas locais</li>
							<li><i class="fa fa-arrow-circle-right"></i> Cobertura de variações esporádicas no volume de exames</li>
							<li><i class="fa fa-arrow-circle-right"></i> Análise de exames complexos</li>
							<li><i class="fa fa-arrow-circle-right"></i> Segunda opinião</li>
							<li><i class="fa fa-arrow-circle-right"></i> Terceirização da radiologia (total ou parcial)</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="fact-wrapper sec-padding">
	<div class="thm-container">
		<div class="row">
			<div class="col-md-3 col-sm-6">
				<div class="single-fact">
					<%= image_tag "about-info-box/como-1.svg" -%>
					<p style="margin-top:10px;">REALIZAÇÃO DE EXAME NA SEDE DO CLIENTE</p>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="single-fact">
					<%= image_tag "about-info-box/como-2.svg" -%>
					<p style="margin-top:10px;">ENVIO DIGITAL À CENTRAL DE LAUDOS DIGITALRAD</p>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="single-fact">
					<%= image_tag "about-info-box/como-3.svg" -%>
					<p style="margin-top:10px;">REALIZAÇÃO DO LAUDO NA SEDE DA DIGITALRAD</p>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="single-fact">
					<%= image_tag "about-info-box/como-4.svg" -%>
					<p style="margin-top:10px;">ENVIO DIGITAL DO LAUDO AO CLIENTE</p>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="faq-section sec-padding">
	<div class="thm-container">
		<div class="row">
			<div class="col-md-8">
				<div class="sec-title">
					<h2><span>Alguns de Nossos Serviços</span></h2>
				</div>
				<div class="accrodion-grp" data-grp-name="faq-accrodion">
					<div class="accrodion active">
						<div class="accrodion-title">
							<h4>LAUDOS A DISTÂNCIA</h4>
						</div>
						<div class="accrodion-content">
							<div class="img-caption">
								<div class="content-box">
									<p>Com uma completa infraestrutura, a equipe de radiologistas da Digital Rad desenvolve diariamente um trabalho em conjunto. Essa interação entre médicos de diferentes especialidades resulta em laudos com análises criteriosas e de alto valor agregado para cada cliente.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="accrodion ">
						<div class="accrodion-title">
							<h4>LAUDOS CARDÍACOS</h4>
						</div>
						<div class="accrodion-content">
							<div class="img-caption">
								<div class="content-box">
									<p>A Ressonância Cardíaca tem apresentado um papel fundamental no diagnóstico das miocardiopatias. A Angiotomografia Cardíaca destaca-se pela precisão no diagnóstico da doença arterial coronariana obstrutiva.</p>
									<p>	Para os exames desta especialidade, nossos médicos possuem grande experiência para uma análise completa de cada estrutura cardíaca, elaboração das medidas e documentação, além de todo treinamento necessário para o desenvolvimento e a implementação dos exames.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="accrodion">
						<div class="accrodion-title">
							<h4>LAUDOS DE MAMA</h4>
						</div>
						<div class="accrodion-content">
							<div class="img-caption">
								<div class="content-box">
									<p>A RM das mamas é um exame de altíssima sensibilidade que permite o diagnóstico precoce do câncer de mama e a análise de lesões que, em alguns casos, não são identificadas nos exames de mamografia ou ultrassonografia.</p>
									<p>Para os exames desta especialidade, nossos médicos possuem grande experiência para análise de pequenos focos de lesão e um diagnóstico determinante no pré e pós-operatórios, trazendo um grande diferencial para o desenvolvimento e a implementação deste tipo de exame.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="sec-title">
					<h2><span>Depoimentos</span></h2>
				</div>
				<div class="testimonial-content-box owl-carousel owl-theme">
					<div class="item">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quisno strud exercitation ullamco laboris nisi ut aliquip ex ea commodo.  incididunt ut labore et dolore magna aliqu.</p>
						<span class="name">- Cliente 1</span>
					</div>
					<div class="item">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quisno strud exercitation ullamco laboris nisi ut aliquip ex ea commodo.  incididunt ut labore et dolore magna aliqu.</p>
						<span class="name">- Cliente 2</span>
					</div>
					<div class="item">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quisno strud exercitation ullamco laboris nisi ut aliquip ex ea commodo.  incididunt ut labore et dolore magna aliqu.</p>
						<span class="name">- Cliente 3</span>
					</div>
					<div class="item">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quisno strud exercitation ullamco laboris nisi ut aliquip ex ea commodo.  incididunt ut labore et dolore magna aliqu.</p>
						<span class="name">- Cliente 4</span>
					</div>

				</div>
				<div class="testimonail-thumbnail-box owl-carousel owl-theme">
					<div class="item">
						<%= image_tag "testimonials/1.png" -%>
					</div>
					<div class="item">
						<%= image_tag "testimonials/2.png" -%>
					</div>
					<div class="item">
						<%= image_tag "testimonials/3.png" -%>
					</div>
					<div class="item">
						<%= image_tag "testimonials/4.png" -%>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="latest-blog sec-padding pb0">
	<div class="thm-container">
		<div class="sec-title">
			<h2><span>Blog / Notícias</span></h2>
		</div>
		<div class="row">
			<div class="col-lg-4 hidden-md hidden-sm hidden-xs">
				<div class="featured-post">
					<%= image_tag "blog/featured.jpg" -%>
					<div class="box">
						<div class="box-holder">
							<h3><span><b>Nosso</b> Blog</span></h3>
							<p>Fique por dentro do que acontence na Digital Rad e no mundo!</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-8 col-md-12">
				<div class="single-blog-post img-cap-effect">
					<div class="img-box">
						<%= image_tag "blog/1.jpg" -%>
						<div class="img-caption">
							<div class="box-holder">
								<ul>
									<li><a href="#"><i class="fa fa-link"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="content-box">
						<a href="#"><h3>Como reduzir custos em clínicas e hospitais</h3></a>
						<ul class="meta">
							<li><a href="#">Digital Blog</a></li>
							<li><a href="#">10 Set</a></li>
							<li><a href="#">6 Comentários</a></li>
						</ul>
						<p>Ded do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nstrud exercitation ullamco laboris nisi ut aliquip</p>
						<a href="#">Leia Mais +</a>
					</div>
				</div>
				<div class="single-blog-post img-cap-effect">
					<div class="img-box">
						<%= image_tag "blog/2.jpg" -%>
						<div class="img-caption">
							<div class="box-holder">
								<ul>
									<li><a href="#"><i class="fa fa-link"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="content-box">
						<a href="#"><h3>5 dicas para organizar a recepção do seu centro de diagnóstico</h3></a>
						<ul class="meta">
							<li><a href="#">Digital Blog</a></li>
							<li><a href="#">10 Set</a></li>
							<li><a href="#">6 Comentários</a></li>
						</ul>
						<p>Ded do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nstrud exercitation ullamco laboris nisi ut aliquip</p>
						<a href="#">Leia Mais +</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="our-client sec-padding bottom-has-footer-top">
	<div class="thm-container">
		<div class="client-carousel">
			<div class="owl-carousel owl-theme">
				<div class="item">
					<%= image_tag "clients/2.jpg" -%>
				</div>
				<div class="item">
					<%= image_tag "clients/1.jpg" -%>
				</div>
				<div class="item">
					<%= image_tag "clients/3.jpg" -%>
				</div>
				<div class="item">
					<%= image_tag "clients/2.jpg" -%>
				</div>
				<div class="item">
					<%= image_tag "clients/1.jpg" -%>
				</div>
				<div class="item">
					<%= image_tag "clients/2.jpg" -%>
				</div>
				<div class="item">
					<%= image_tag "clients/3.jpg" -%>
				</div>
		
			</div>
		</div>
	</div>
</section>