<section class="inner-banner">
	<div class="thm-container clearfix">
		<h2 class="pull-left">Nossos Serviços</h2>
		<ul class="breadcumb pull-right">
			<li><%= link_to "<i class=\"fa fa-home\"></i> Início".html_safe, root_path %></li>
			<li><span>Nossos Serviços</span></li>
		</ul>
	</div>
</section>

<section class="sec-padding bottom-has-footer-top">
	<div class="thm-container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<div class="sec-title">
					<p>Ao invés de manter um corpo clínico, pague apenas por laudos emitidos e otimize o fluxo de exames de maneira simples. Somos formados por uma equipe médica experiente e garantimos a excelência durante todo o processo. Seus arquivos de exames são ilimitados e ficam armazenados para sempre.</p>
				</div>
				<% @services.each do |service| -%>
				<div class="single-client-box">
					<div class="icon-box">
						<%= image_tag service.image.services -%>
					</div>
					<div class="content">
						<h3><%= service.title -%></h3>
						<p><%= service.description.html_safe -%></p>
					</div>
				</div>
				<% end -%>
				<div class="single-client-box">
					<div class="icon-box">
						<%= image_tag 'client-box/2.jpg' -%>
					</div>
					<div class="content">
						<h3>Cobertura de férias de radiologistas;</h3>
						<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam susceit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure</p>
					</div>
				</div>
				<div class="single-client-box">
					<div class="icon-box">
						<%= image_tag 'client-box/3.jpg' -%>
					</div>
					<div class="content">
						<h3>Cobertura de variações esporádicas no volume de exames;</h3>
						<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam susceit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure</p>
					</div>
				</div>
				<div class="single-client-box">
					<div class="icon-box">
						<%= image_tag 'client-box/4.jpg' -%>
					</div>
					<div class="content">
						<h3>Segunda opinião;</h3>
						<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam susceit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure</p>
					</div>
				</div>
				<div class="single-client-box">
					<div class="icon-box">
						<%= image_tag 'client-box/5.jpg' -%>
					</div>
					<div class="content">
						<h3>Terceirização da Radiologia (Total ou parcial).</h3>
						<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam susceit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure</p>
					</div>
				</div>

			</div>
		</div>
	</div>
</section> 


<section class="fact-counter-wrapper">
	<div class="thm-container">
		<div class="row">
			<div class="col-md-4 col-sm-6">
				<div class="single-fact-counter">
					<div class="counter">
						<span class="timer"  data-from="10" data-to="9035" data-speed="5000" data-refresh-interval="50">9035</span>
					</div>
					<p>Laudos Emitidos</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="single-fact-counter">
					<div class="counter">
						<span class="timer"  data-from="0" data-to="523" data-speed="5000" data-refresh-interval="50">523</span>
					</div>
					<p>Clientes Satisfeitos</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="single-fact-counter">
					<div class="counter">
						<span class="">7/24</span>
					</div>
					<p>Nossa disponibilidade</p>
				</div>
			</div>
		</div>
	</div>
</section>



<section class="our-client sec-padding bottom-has-footer-top">
	<div class="thm-container">
		<div class="sec-title">
			<h2><span>Alguns Clientes</span></h2>
		</div>
		<div class="client-carousel">
			<div class="owl-carousel owl-theme">
			<% @partners.each do |partner| -%>
				<div class="item">
					<%= image_tag partner.logo.testemonials -%>
				</div>
			<% end -%>
			</div>
		</div>
	</div>
</section>