<%= form_for([:admin, clinic]) do |f| %>
  <% if clinic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(clinic.errors.count, "error") %> prohibited this clinic from being saved:</h2>

      <ul>
      <% clinic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control", placehold: "Nome do Caso" %>
  </div>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control", placehold: "Título" %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, id: 'edit', class: "form-control", placehold: "Conteúdo", value: '<div class="single-job-details">
                <h2>ANAMNESE</h2>
                <ul class="list-item">
                  <li>Paciente masculino, 63 anos;</li>
                  <li>Paciente em investigação de quadro de dispnéia. Realizou ecocardiograma transtorácico, que evidenciou hipertrofia ventricular esquerda;</li>
                  <li>Sem outros dados relevantes de história pregressa;</li>
                  <li>Encaminhado à Ressonância Magnética cardíaca para elucidação diagnóstica.</li>
                </ul>
              </div>

              <div class="single-job-details">
                <h2>LAUDO</h2>
                <p>Imagens de cineressonância (vídeos 1 e 2) demonstrando disfunção sistólica moderada do ventrículo esquerdo (FEVE = 40%). Adicionalmente, observa-se importante hipertrofia concêntrica do ventrículo esquerdo (espessura máxima de 18mm) e derrame pericárdico discreto.</p>
              </div>

              <div class="single-job-details">
                <h2>DISCUSSÃO</h2>
                <ul class="list-item">
                  <li>A amiloidose cardíaca é uma entidade heterogênea, que consiste do depósito de estruturas protéicas de baixo peso molecular no miocárdio. Conforme a origem proteína depositada, podem ser divididas em amiloidose primária (AL) ou secundária (AA).</li>
                  <li>Um subtipo genético de amiloidose ligado a alteração no gene da transtiretina (TTR), localizado no cromossomo 18, pode causar um espectro de depósito amilóide cardíaco. Embora o tipo de realce tardio habitualmente descrito na amiloidose seja o acometimento difuso do subendocárdio, na variedade TTR é descrito um “gradiente base-ápex” de impregnação do gadolíneo1, como no presente caso clínico.</li>
                  <li>A Ressonância Magnética Cardíaca é ferramenta importante na investigação não invasiva das miocardiopatias infiltrativas como a amiloidose, tendo indicação de realização conforme as atuais diretrizes (classe de recomendação IIa, nível de evidência B)2.</li>
                </ul>
              </div>' %>
  </div>

  <div class="field">
    <%= f.label :photos %>
    <%= f.file_field :photos, class: "form-control", multiple: true %>
  </div>

 <div class="form-group">
    <%= f.label :status %>
    <%= f.check_box :status %>
  </div>

  <%= f.submit btn, class: "btn btn-primary" %>
<% end %>
