<!DOCTYPE html>
<html>
  <head>
   <meta charset="UTF-8">
	<title>DigitalRad - Número 1 em teleradiologia!</title>
	<!-- viewport meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application' %>

    <%= stylesheet_link_tag    'site/bootstrap.min.css' %>
    <%= stylesheet_link_tag    'site/font-awesome.min'%>
    <%= stylesheet_link_tag    'site/Stroke-Gap-Icons-Webfont' %>
	<!-- revolution slider css -->
    <%= stylesheet_link_tag    'site/settings' %>
    <%= stylesheet_link_tag    'site/layers' %>
    <%= stylesheet_link_tag    'site/navigation' %>
	<!-- flaticon css -->
    <%= stylesheet_link_tag    'site/flaticon'  %>
	<!-- jQuery ui css -->
    <%= stylesheet_link_tag    'site/jquery-ui'  %>
	<!-- owl carousel css -->
    <%= stylesheet_link_tag    'site/owl.carousel'  %>
    <%= stylesheet_link_tag    'site/owl.theme.default.min' %>
	<!-- animate css -->
    <%= stylesheet_link_tag    'site/animate.min' %>
	<!-- hover css -->
    <%= stylesheet_link_tag    'site/hover' %>	
	<!-- fancybox -->
    <%= stylesheet_link_tag    'site/jquery.fancybox' %>

	<!-- master stylesheet -->
    <%= stylesheet_link_tag    'site/style'%>
	<!-- responsive stylesheet -->
    <%= stylesheet_link_tag    'site/responsive' %>
  </head>

  <body>
  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.8";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

  <header id="header" class="stricky">
		<div class="thm-container clearfix">
			<div class="logo pull-left">
				<%= link_to image_tag('logo.png',  width: "245px"), root_path %>			
			</div>
			<div class="nav-holder pull-right">
				<div class="nav-footer">
					<ul class="nav">
						<li class="<%= active_class(root_path) -%>"><%= link_to "Início", root_path, "data-turbolinks": false %></li>
						<li class="<%= active_class(sobre_path) -%>"><%= link_to 'Sobre', sobre_path -%></li>
						<li class="<%= active_class(servicos_path) -%>"><%= link_to "Serviços", servicos_path %></li>
						<li class="<%= active_class(blog_path) -%>"><%= link_to "Blog", blog_path %></li>
						<li class="<%= active_class(comofunciona_path) -%>"><%= link_to "Como Funciona", comofunciona_path %></li>
						<li class="<%= active_class(casos_path) -%>"><%= link_to "Casos Clínicos", casos_path %></li>
						<li class="<%= active_class(contato_path) -%>"><%= link_to "Contato", contato_path %></li>
						<li class="active"><%= link_to "<i class='fa fa-user'></i> Laudos".html_safe, laudos_path %></li>
						<li class="active"><%= link_to "<i class='fa fa-cloud-download'></i> Painel".html_safe, sistema_path %></li>
					</ul>
				</div>
		<div class="nav-header">
        <ul>
          <li class="menu-expander"><button><i class="fa fa-bars"></i></button></li>
        </ul>
      </div>

				
			</div>
		</div>
	</header>

    <%= yield %>

   	<section class="footer-top">
		<div class="thm-container">
			<div class="clearfix">
				<div class="col-md-4 hidden-sm hidden-xs pull-left img-box">
					<%= image_tag "footer-man.png" -%>
				</div>
				<div class="col-md-7 right-text pull-right">
					<div class="box">
						<div class="text-box">
							<h3>Começar é simples. Descomplique</h3>
							<p>Em menos de 1 hora seu serviço de radiologia pode<br> começar a receber nossos laudos</p>
							<p><span class="number">(86) 98154-5023 / (86) 98182-3366</span><br><%= link_to "Entre em Contato", contato_path %></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

    <footer id="footer" class="sec-padding">
	<div class="thm-container">
		<div class="row">
			<div class="col-md-3 col-sm-6 footer-widget">
				<div class="about-widget">
					<%= link_to image_tag('footer-logo.png'), root_path %>
					
					<p>a DIGITALRAD visa oferecer a mais completa solução do mercado brasileiro em Telerradiologia.</p>

					<%= link_to "Saiba Mais <i class=\"fa fa-angle-double-right\"></i>".html_safe, sobre_path %>
					<ul class="social">
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
						<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 footer-widget">
				<div class="pl-30">
					<div class="title">
						<h3><span>Mapa do Site</span></h3>
					</div>
					<ul class="link-list">
						<li class="<%= active_class(sobre_path) -%>"><%= link_to 'Sobre', sobre_path -%></li>
						<li class="<%= active_class(servicos_path) -%>"><%= link_to "Nosso Serviços", servicos_path %></li>
						<li class="<%= active_class(blog_path) -%>"><%= link_to "Blog", blog_path %></li>
						<li class="<%= active_class(comofunciona_path) -%>"><%= link_to "Como Funciona", comofunciona_path %></li>
						<li class="<%= active_class(casos_path) -%>"><%= link_to "Casos Clínicos", casos_path %></li>
						<li class="<%= active_class(contato_path) -%>"><%= link_to "Fale Conosco", contato_path %></li>
					</ul>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 footer-widget">
				<div class="title">
					<h3><span>Entre em Contato</span></h3>
				</div>
				<ul class="contact-infos">
					<li>
						<div class="icon-box">
							<i class="fa fa-phone"></i>
						</div>
						<div class="text-box">
							<p><span class="sbold italic">+55 (86) 98154-5023</span></p>
						</div>
					</li>
					<li>
						<div class="icon-box">
							<i class="fa fa-whatsapp"></i>
						</div>
						<div class="text-box">
							<p><span class="sbold italic">+55 (86) 98182-3366</span></p>
						</div>
					</li>
					<li>
						<div class="icon-box">
							<i class="fa fa-envelope-o"></i>
						</div>
						<div class="text-box">
							<p>atendimento@digitalrad.com.br</p>
						</div>
					</li>

					<li>
						<div class="icon-box">
							<i class="icon icon-Timer"></i>
						</div>
						<div class="text-box">
							<p>Segunda - Sexta : <span class="sbold">8:00 - 18:00</span></p>
						</div>
					</li>

				</ul>
			</div>
			<div class="col-md-3 col-sm-6 footer-widget">
			<div class="about-widget">
					<p>Responsável Técnico: <br>
					<span class="sbold"><b>Dr. Ivan Fontenele Gomes</b><br>
					</span>CNPJ: <b>22.575.063/0001-09</b></p>
				</div>
			</div>
		</div>
	</div>
</footer>

<section class="bottom-bar">
	<div class="thm-container clearfix">
		<div class="pull-left">
			<p>Copyright © DigitalRad 2016. Todos os Direitos Reservados.</p>
		</div>
		<div class="pull-right">
			<p>Desenvolvimento: <%= link_to "AzevedoDev", "http://www.azevedodev.com.br", :target => "_blank" %></p>
		</div>
	</div>
</section>


    
    
<!-- jQuery js -->
<%= javascript_include_tag 'site/jquery-1.11.3.min' %>
<!-- owl carousel js -->
<%= javascript_include_tag 'site/owl.carousel.min' %>
<!-- bootstrap js -->
<%= javascript_include_tag 'site/bootstrap.min.js' %>
<!-- jQuery ui js -->
<%= javascript_include_tag 'site/jquery-ui' %>
<!-- jQuery appear -->
<%= javascript_include_tag 'site/jquery.appear'%>
<!-- jQuery countTo -->
<%= javascript_include_tag 'site/jquery.countTo' %>
<!-- jQuery validation -->
<%= javascript_include_tag 'site/jquery.validate.min' %>
<!-- mixit up -->
<%= javascript_include_tag 'site/jquery.mixitup.min' %>

<!-- revolution slider js -->
<%= javascript_include_tag 'site/jquery.themepunch.tools.min' %>
<%= javascript_include_tag 'site/jquery.themepunch.revolution.min'%>
<%= javascript_include_tag 'site/extensions/revolution.extension.actions.min' %>
<%= javascript_include_tag 'site/extensions/revolution.extension.carousel.min' %>
<%= javascript_include_tag 'site/extensions/revolution.extension.kenburn.min' %>
<%= javascript_include_tag 'site/extensions/revolution.extension.layeranimation.min' %>
<%= javascript_include_tag 'site/extensions/revolution.extension.migration.min' %>
<%= javascript_include_tag 'site/extensions/revolution.extension.navigation.min' %>
<%= javascript_include_tag 'site/extensions/revolution.extension.parallax.min' %>
<%= javascript_include_tag 'site/extensions/revolution.extension.video.min' %>

<!-- fancy box -->
<%= javascript_include_tag 'site/jquery.fancybox.pack' %>
<!-- type script -->
<%= javascript_include_tag 'site/typed.min' %>
<!-- theme custom js  -->
<%= javascript_include_tag 'main' %>

<%= javascript_include_tag 'application' %>
  </body>

</html>
